@model Fund.Web.Models.LocalPasswordModel

<h3>تغییر رمــز</h3>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()


     
            <div class="input-field">
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
            </div>
    <div class="input-field">

        @Html.LabelFor(m => m.NewPassword)
        @Html.PasswordFor(m => m.NewPassword)
    </div>
    <div class="input-field">

        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword)
    </div>
        <input type="submit" value="ثبت" />
}
